#**DATA PREPROCESSING/DATA PREPARATION**

1. Data Cleaning - drop, fillna with mean, median, mode Impuatation, changing dtype
2. Data Transformation
    * If data is CONTINUOUS = Standard Scaler, MinMaxScaler, Robust Scaler
    * If data is DISCRETE   = Label Encoder, One hot Encoder

## **Impoting Necessary Libraries**

In [36]:
import pandas as pd

## **Importing Data**

In [37]:
Weather_Data = pd.read_csv('data_clean.csv')
Weather_Data

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0             1   41.0    190.0   7.4     67     5    1  2010    67       S
1             2   36.0    118.0   8.0     72     5    2  2010    72       C
2             3   12.0    149.0  12.6     74     5    3  2010    74      PS
3             4   18.0    313.0  11.5     62     5    4  2010    62       S
4             5    NaN      NaN  14.3     56     5    5  2010    56       S
..          ...    ...      ...   ...    ...   ...  ...   ...   ...     ...
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 10 columns]

## **Initial Analysis**

In [38]:
Weather_Data.shape

(158, 10)

In [39]:
Weather_Data.dtypes

Unnamed: 0      int64
Ozone         float64
Solar.R       float64
Wind          float64
Temp C         object
Month          object
Day             int64
Year            int64
Temp            int64
Weather        object
dtype: object

In [40]:
Weather_Data.isna().sum()

Unnamed: 0     0
Ozone         38
Solar.R        7
Wind           0
Temp C         0
Month          0
Day            0
Year           0
Temp           0
Weather        3
dtype: int64

In [13]:
Weather_Data.head(50)

    Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0            1   41.0    190.0   7.4     67     5    1  2010    67       S
1            2   36.0    118.0   8.0     72     5    2  2010    72       C
2            3   12.0    149.0  12.6     74     5    3  2010    74      PS
3            4   18.0    313.0  11.5     62     5    4  2010    62       S
4            5    NaN      NaN  14.3     56     5    5  2010    56       S
5            6   28.0      NaN  14.9     66     5    6  2010    66       C
6            7   23.0    299.0   8.6     65     5    7  2010    65      PS
7            8   19.0     99.0  13.8     59     5    8  2010    59       C
8            9    8.0     19.0  20.1     61     5    9  2010    61      PS
9           10    NaN    194.0   8.6     69     5   10  2010    69       S
10          11    7.0      NaN   6.9      C     5   11  2010    74       C
11          12   16.0    256.0   9.7     69     5   12  2010    69      PS
12          13   11.0    290.0   9.2     66     5   13  2010    66       S
13          14   14.0    274.0  10.9     68     5   14  2010    68       S
14          15   18.0     65.0  13.2     58     5   15  2010    58       C
15          16   14.0    334.0  11.5     64     5   16  2010    64       S
16          17   34.0    307.0  12.0     66     5   17  2010    66       S
17          18    6.0     78.0  18.4     57     5   18  2010    57       C
18          19   30.0    322.0  11.5     68     5   19  2010    68      PS
19          20   11.0     44.0   9.7     62     5   20  2010    62       S
20          21    1.0      8.0   9.7     59     5   21  2010    59       S
21          22   11.0    320.0  16.6     73     5   22  2010    73       C
22          23    4.0     25.0   9.7     61     5   23  2010    61      PS
23          24   32.0     92.0  12.0     61   May   24  2010    61       C
24          25    NaN     66.0  16.6     57     5   25  2010    57      PS
25          26    NaN    266.0  14.9     58     5   26  2010    58       C
26          27    NaN      NaN   8.0     57     5   27  2010    57      PS
27          28   23.0     13.0  12.0     67     5   28  2010    67       S
28          29   45.0    252.0  14.9     81     5   29  2010    81       S
29          30  115.0    223.0   5.7     79     5   30  2010    79       C
30          31   37.0    279.0   7.4     76     5   31  2010    76      PS
31          32    NaN    286.0   8.6     78     6    1  2010    78       S
32          33    NaN    287.0   9.7     74     6    2  2010    74       C
33          34    NaN    242.0  16.1     67     6    3  2010    67      PS
34          35    NaN    186.0   9.2     84     6    4  2010    84       C
35          36    NaN    220.0   8.6     85     6    5  2010    85      PS
36          37    NaN    264.0  14.3     79     6    6  2010    79       C
37          38   29.0    127.0   9.7     82     6    7  2010    82      PS
38          39    NaN    273.0   6.9     87     6    8  2010    87       S
39          40   71.0    291.0  13.8     90     6    9  2010    90       S
40          41   39.0    323.0  11.5     87     6   10  2010    87       S
41          42    NaN    259.0  10.9     93     6   11  2010    93       C
42          43    NaN    250.0   9.2     92     6   12  2010    92      PS
43          44   23.0    148.0   8.0     82     6   13  2010    82       S
44          45    NaN    332.0  13.8     80     6   14  2010    80       S
45          46    NaN    322.0  11.5     79     6   15  2010    79       C
46          47   21.0    191.0  14.9     77     6   16  2010    77      PS
47          48   37.0    284.0  20.7     72     6   17  2010    72       C
48          49   20.0     37.0   9.2     65     6   18  2010    65      PS
49          50   12.0    120.0  11.5     73     6   19  2010    73       S

In [14]:
Weather_Data.describe(include='all')

        Unnamed: 0       Ozone     Solar.R  ...    Year        Temp Weather
count   158.000000  120.000000  151.000000  ...   158.0  158.000000     155
unique         NaN         NaN         NaN  ...     NaN         NaN       3
top            NaN         NaN         NaN  ...     NaN         NaN       S
freq           NaN         NaN         NaN  ...     NaN         NaN      59
mean     79.500000   41.583333  185.403974  ...  2010.0   77.727848     NaN
std      45.754781   32.620709   88.723103  ...     0.0    9.377877     NaN
min       1.000000    1.000000    7.000000  ...  2010.0   56.000000     NaN
25%      40.250000   18.000000  119.000000  ...  2010.0   72.000000     NaN
50%      79.500000   30.500000  197.000000  ...  2010.0   78.500000     NaN
75%     118.750000   61.500000  257.000000  ...  2010.0   84.000000     NaN
max     158.000000  168.000000  334.000000  ...  2010.0   97.000000     NaN

[11 rows x 10 columns]

## **Data Preparation**

#### **A. Data Cleaning**

In [41]:


del Weather_Data['Unnamed: 0']

In [42]:
Weather_Data.head(20)

    Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0    41.0    190.0   7.4     67     5    1  2010    67       S
1    36.0    118.0   8.0     72     5    2  2010    72       C
2    12.0    149.0  12.6     74     5    3  2010    74      PS
3    18.0    313.0  11.5     62     5    4  2010    62       S
4     NaN      NaN  14.3     56     5    5  2010    56       S
5    28.0      NaN  14.9     66     5    6  2010    66       C
6    23.0    299.0   8.6     65     5    7  2010    65      PS
7    19.0     99.0  13.8     59     5    8  2010    59       C
8     8.0     19.0  20.1     61     5    9  2010    61      PS
9     NaN    194.0   8.6     69     5   10  2010    69       S
10    7.0      NaN   6.9      C     5   11  2010    74       C
11   16.0    256.0   9.7     69     5   12  2010    69      PS
12   11.0    290.0   9.2     66     5   13  2010    66       S
13   14.0    274.0  10.9     68     5   14  2010    68       S
14   18.0     65.0  13.2     58     5   15  2010    58       C
15   14.0    334.0  11.5     64     5   16  2010    64       S
16   34.0    307.0  12.0     66     5   17  2010    66       S
17    6.0     78.0  18.4     57     5   18  2010    57       C
18   30.0    322.0  11.5     68     5   19  2010    68      PS
19   11.0     44.0   9.7     62     5   20  2010    62       S

### Client approves to drop the Ozone feature since it has more number of NULL values.

In [43]:
del Weather_Data['Ozone']

In [44]:
Weather_Data.head(10)

   Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0    190.0   7.4     67     5    1  2010    67       S
1    118.0   8.0     72     5    2  2010    72       C
2    149.0  12.6     74     5    3  2010    74      PS
3    313.0  11.5     62     5    4  2010    62       S
4      NaN  14.3     56     5    5  2010    56       S
5      NaN  14.9     66     5    6  2010    66       C
6    299.0   8.6     65     5    7  2010    65      PS
7     99.0  13.8     59     5    8  2010    59       C
8     19.0  20.1     61     5    9  2010    61      PS
9    194.0   8.6     69     5   10  2010    69       S

In [45]:
Weather_Data.isna().sum()

Solar.R    7
Wind       0
Temp C     0
Month      0
Day        0
Year       0
Temp       0
Weather    3
dtype: int64

In [46]:
Weather_Data['Solar.R'].median()

197.0

The column Solar.R has 7 nan values, So we gonna replace it's median values over there.

In [47]:
Weather_Data['Solar.R'].fillna(value = 197.0,axis = 0,inplace = True)

In [48]:
Weather_Data.isna().sum()

Solar.R    0
Wind       0
Temp C     0
Month      0
Day        0
Year       0
Temp       0
Weather    3
dtype: int64

In [49]:
Weather_Data.dtypes

Solar.R    float64
Wind       float64
Temp C      object
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [50]:
Weather_Data['Temp C'] =  pd.to_numeric(arg = Weather_Data['Temp C'],errors='coerce')
Weather_Data['Month']  =  pd.to_numeric(arg = Weather_Data['Month'],errors = 'coerce')

In [51]:
Weather_Data.head(20)

    Solar.R  Wind  Temp C  Month  Day  Year  Temp Weather
0     190.0   7.4    67.0    5.0    1  2010    67       S
1     118.0   8.0    72.0    5.0    2  2010    72       C
2     149.0  12.6    74.0    5.0    3  2010    74      PS
3     313.0  11.5    62.0    5.0    4  2010    62       S
4     197.0  14.3    56.0    5.0    5  2010    56       S
5     197.0  14.9    66.0    5.0    6  2010    66       C
6     299.0   8.6    65.0    5.0    7  2010    65      PS
7      99.0  13.8    59.0    5.0    8  2010    59       C
8      19.0  20.1    61.0    5.0    9  2010    61      PS
9     194.0   8.6    69.0    5.0   10  2010    69       S
10    197.0   6.9     NaN    5.0   11  2010    74       C
11    256.0   9.7    69.0    5.0   12  2010    69      PS
12    290.0   9.2    66.0    5.0   13  2010    66       S
13    274.0  10.9    68.0    5.0   14  2010    68       S
14     65.0  13.2    58.0    5.0   15  2010    58       C
15    334.0  11.5    64.0    5.0   16  2010    64       S
16    307.0  12.0    66.0    5.0   17  2010    66       S
17     78.0  18.4    57.0    5.0   18  2010    57       C
18    322.0  11.5    68.0    5.0   19  2010    68      PS
19     44.0   9.7    62.0    5.0   20  2010    62       S

In [52]:
Weather_Data.dtypes

Solar.R    float64
Wind       float64
Temp C     float64
Month      float64
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

### Client approved to go with Mean imputation for Temp C.

In [53]:
Weather_Data['Temp C'].mean()

77.7515923566879

In [54]:
Weather_Data['Temp C'].fillna(value=77.8,axis = 0,inplace=True)

In [55]:
Weather_Data['Month'].fillna(value = 5,axis = 0, inplace = True )

In [56]:
Weather_Data.isna().sum()

Solar.R    0
Wind       0
Temp C     0
Month      0
Day        0
Year       0
Temp       0
Weather    3
dtype: int64

In [57]:
Weather_Data['Weather'].unique()

array(['S', 'C', 'PS', nan], dtype=object)

In [58]:
Weather_Data['Weather'].mode()

0    S
dtype: object

In [59]:
Weather_Data['Weather'].fillna(value='S',axis = 0,inplace = True)

In [60]:
Weather_Data.isna().sum()

Solar.R    0
Wind       0
Temp C     0
Month      0
Day        0
Year       0
Temp       0
Weather    0
dtype: int64

In [61]:
Weather_Data.dtypes

Solar.R    float64
Wind       float64
Temp C     float64
Month      float64
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [62]:
Weather_Data.head(20)

    Solar.R  Wind  Temp C  Month  Day  Year  Temp Weather
0     190.0   7.4    67.0    5.0    1  2010    67       S
1     118.0   8.0    72.0    5.0    2  2010    72       C
2     149.0  12.6    74.0    5.0    3  2010    74      PS
3     313.0  11.5    62.0    5.0    4  2010    62       S
4     197.0  14.3    56.0    5.0    5  2010    56       S
5     197.0  14.9    66.0    5.0    6  2010    66       C
6     299.0   8.6    65.0    5.0    7  2010    65      PS
7      99.0  13.8    59.0    5.0    8  2010    59       C
8      19.0  20.1    61.0    5.0    9  2010    61      PS
9     194.0   8.6    69.0    5.0   10  2010    69       S
10    197.0   6.9    77.8    5.0   11  2010    74       C
11    256.0   9.7    69.0    5.0   12  2010    69      PS
12    290.0   9.2    66.0    5.0   13  2010    66       S
13    274.0  10.9    68.0    5.0   14  2010    68       S
14     65.0  13.2    58.0    5.0   15  2010    58       C
15    334.0  11.5    64.0    5.0   16  2010    64       S
16    307.0  12.0    66.0    5.0   17  2010    66       S
17     78.0  18.4    57.0    5.0   18  2010    57       C
18    322.0  11.5    68.0    5.0   19  2010    68      PS
19     44.0   9.7    62.0    5.0   20  2010    62       S

In [63]:
del Weather_Data['Temp C']

In [64]:
Weather_Data

     Solar.R  Wind  Month  Day  Year  Temp Weather
0      190.0   7.4    5.0    1  2010    67       S
1      118.0   8.0    5.0    2  2010    72       C
2      149.0  12.6    5.0    3  2010    74      PS
3      313.0  11.5    5.0    4  2010    62       S
4      197.0  14.3    5.0    5  2010    56       S
..       ...   ...    ...  ...   ...   ...     ...
153    190.0   7.4    5.0    1  2010    67       C
154    193.0   6.9    9.0   26  2010    70      PS
155    145.0  13.2    9.0   27  2010    77       S
156    191.0  14.3    9.0   28  2010    75       S
157    131.0   8.0    9.0   29  2010    76       C

[158 rows x 7 columns]


#### **B. Data Transformation**

 2 Data Transformation Techniques:
 
 * If data is CONTINUOUS = Standard Scaler, MinMaxScaler, Robust Scaler
 * If data is DISCRETE   = Label Encoder, One hot Encoder

#### Label Encoder

In [65]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Weather_Data['le_Weather'] = le.fit_transform(Weather_Data['Weather'])
Weather_Data

     Solar.R  Wind  Month  Day  Year  Temp Weather  le_Weather
0      190.0   7.4    5.0    1  2010    67       S           2
1      118.0   8.0    5.0    2  2010    72       C           0
2      149.0  12.6    5.0    3  2010    74      PS           1
3      313.0  11.5    5.0    4  2010    62       S           2
4      197.0  14.3    5.0    5  2010    56       S           2
..       ...   ...    ...  ...   ...   ...     ...         ...
153    190.0   7.4    5.0    1  2010    67       C           0
154    193.0   6.9    9.0   26  2010    70      PS           1
155    145.0  13.2    9.0   27  2010    77       S           2
156    191.0  14.3    9.0   28  2010    75       S           2
157    131.0   8.0    9.0   29  2010    76       C           0

[158 rows x 8 columns]

In [66]:
Weather_Data_copy = Weather_Data.copy()
Weather_Data_copy

     Solar.R  Wind  Month  Day  Year  Temp Weather  le_Weather
0      190.0   7.4    5.0    1  2010    67       S           2
1      118.0   8.0    5.0    2  2010    72       C           0
2      149.0  12.6    5.0    3  2010    74      PS           1
3      313.0  11.5    5.0    4  2010    62       S           2
4      197.0  14.3    5.0    5  2010    56       S           2
..       ...   ...    ...  ...   ...   ...     ...         ...
153    190.0   7.4    5.0    1  2010    67       C           0
154    193.0   6.9    9.0   26  2010    70      PS           1
155    145.0  13.2    9.0   27  2010    77       S           2
156    191.0  14.3    9.0   28  2010    75       S           2
157    131.0   8.0    9.0   29  2010    76       C           0

[158 rows x 8 columns]

#### One Hot Encoding

* Using Pandas - pd.get_dummies()
* Using sklearn - OneHotEncoder

#### Pandas - One Hot Encoding

In [67]:
Weather_Data_copy = pd.get_dummies(data = Weather_Data_copy,columns=['Weather'])

In [68]:
Weather_Data_copy

     Solar.R  Wind  Month  Day  ...  le_Weather  Weather_C  Weather_PS  Weather_S
0      190.0   7.4    5.0    1  ...           2          0           0          1
1      118.0   8.0    5.0    2  ...           0          1           0          0
2      149.0  12.6    5.0    3  ...           1          0           1          0
3      313.0  11.5    5.0    4  ...           2          0           0          1
4      197.0  14.3    5.0    5  ...           2          0           0          1
..       ...   ...    ...  ...  ...         ...        ...         ...        ...
153    190.0   7.4    5.0    1  ...           0          1           0          0
154    193.0   6.9    9.0   26  ...           1          0           1          0
155    145.0  13.2    9.0   27  ...           2          0           0          1
156    191.0  14.3    9.0   28  ...           2          0           0          1
157    131.0   8.0    9.0   29  ...           0          1           0          0

[158 rows x 10 columns]

#### Using sklearn - OneHotEncoder

In [118]:
Weather_Data_copy2 = Weather_Data.copy()
Weather_Data_copy2
del Weather_Data_copy2['le_Weather']

In [119]:
Weather_Data_copy2

     Solar.R  Wind  Month  Day  Year  Temp Weather
0      190.0   7.4    5.0    1  2010    67       S
1      118.0   8.0    5.0    2  2010    72       C
2      149.0  12.6    5.0    3  2010    74      PS
3      313.0  11.5    5.0    4  2010    62       S
4      197.0  14.3    5.0    5  2010    56       S
..       ...   ...    ...  ...   ...   ...     ...
153    190.0   7.4    5.0    1  2010    67       C
154    193.0   6.9    9.0   26  2010    70      PS
155    145.0  13.2    9.0   27  2010    77       S
156    191.0  14.3    9.0   28  2010    75       S
157    131.0   8.0    9.0   29  2010    76       C

[158 rows x 7 columns]

In [120]:
x = Weather_Data_copy2.drop(labels='Weather', axis=1)
y = Weather_Data_copy2[['Weather']]

In [124]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
Ohe_Y = ohe.fit_transform(y).toarray()

In [125]:
Ohe_Y

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.]])